<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav id="nav">
    <a id="logo" alt="viv's <div>s. haha get it?" title="viv's <div>s. haha get it?" href="/index.html"><img src="/assets/logolong.png"></a>
    {% for item in site.data.navigation %}
        <a class="pages {% if page.url == item.link %}current{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
    {% endfor %}
</nav>

<nav id="mobile-nav">
    <a id="logo" alt="viv's <div>s. haha get it?" title="viv's <div>s. haha get it?" href="/index.html"><img src="/assets/logolong.png"></a>
    <div id="myLinks">
        {% for item in site.data.navigation %}
            <a class="pages {% if page.url == item.link %}current{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
        {% endfor %}
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</nav>

<script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>