<div class="poetry">
    <h1>elbows</h1>
    that's how i like my<br>macaroni<br>
    <br>
    that's how i like our<br>noodle arms<br>macaroni elbows<br>intertwined<br>
    <br>
    we're inseparable<br>there's too much cheese<br>our macaroni elbows are forever stuck<br>but i like it that way
</div>
<div class="poetry">
    <h1>messy encounter</h1>
    the silpat slip slaps<br>chocolate chip cookies tumble on to the chicory counter<br>you scramble for the crisp cracked crumbles that fly forward<br>they're already long gone.<br>
    <br>
    the mess carelessly caresses your world at present<br>tucked beneath your left cornea or behind the flap of your right ear<br>perched on the pantry shelf, married to the marble floor—<br>you've jinxed this jittering jigsaw puzzle!
</div>
<div class="poetry">
    <h1>flying orange</h1>
    it was cold and sunny<br>cold like shaved ice<br>sunny like the carnival it came from.<br>
    <br>
    you flung an orange at the afternoon sun<br>it flung itself back at you<br>bouncing off the window on the third floor.<br>the people on which approached<br>their window and looked<br>down at us<br>wreaking muted havoc on the pavement<br>just two lackadaisical teenagers<br>good-for-nothing<br>they should be in the classroom.<br>
    <br>
    but who cares?<br>in that moment<br>your laughter was so beautiful<br>the world paled in comparison.
</div>
<div class="poetry">
    <h1>sillies are for today</h1>
    worries are for tomorrow<br>so why are you worrying already?<br>you've got it all mixed up<br>today is for running wild in the sunflower fields<br>we're racing the clock<br>chasing the now<br>and i'm out of breath!<br>so let's just be silly willy today
</div>
<div class="poetry">
    <h1>yard sale</h1>
    i am once more lying prostrate on your doorstep.<br>
    <br>
    so we meet again<br>me, beaten as i am and even dustier than you remember<br>you, embarrassed— a thing of your past<br>turning your nose up at my desperation<br>you hastily shut the door. (i expected nothing more)<br>
    <br>
    you have rejected me<br>nine hundred, ninety-nine thousand<br>nine hundred, ninety-nine times<br>and i have broken myself over my<br>broken heart<br>just as many (999,999)<br>
    <br>
    yet if you came back <br>even the one millionth time<br>even empty-handed<br>i would gladly hold you<br>in my empty, dusty embrace.<br>
</div>
<div class="poetry">
    <h1>note to self</h1>
    don’t worry about<br>writing a bad poem. write<br>a good one later
</div>
<div class="poetry">
    <h1>on the arduous voyage of embroidery</h1>
    light that comes to a point upon<br>the silver needle<br>tip to ceiling<br>
    <br>
    he who makes a nosedive into<br>the folds of fabric<br>which billow with the immortality of waves at sea<br>
    <br>
    the valiant needle who pricks<br>carefully breaching the white picket fence<br>passing through the gates with a curtsy of courtesy<br>
    <br>
    in and out<br>the needle weaves headfirst<br>and the tip of the iceberg extends to become a sleek rocket<br>
    <br>
    as he turns to revisit his trail thus far<br>he who moves from point a to point b knows<br>the beauty is in the journey<br>in the art that lay behind him,<br>stretching for miles and miles and miles.<br>
</div>
<div class="poetry">
    <h1>the pity party</h1>
    the pity party<br>is a party for one.<br>the sweet punch bowl holds my sour tears<br>the crumbs of my used tissues—scrunched up like roses—<br>populate the cookie plate.<br>
    <br>
    at the pity party<br>the banner is lopsided<br>the music is slow<br>and the strobe light peruses like<br>a hovering therapist<br>
    <br>
    i have not invited anyone to the pity party<br>because from the outside<br>it seems a regular party and<br>no one needs to know about<br>the pity part of the party.<br>
</div>