<div class="poetry">
    <h1>elbows</h1>
    that's how i like my<br>macaroni<br>
    <br>
    that's how i like our<br>noodle arms<br>macaroni elbows<br>intertwined<br>
    <br>
    we're inseparable<br>there's too much cheese<br>our macaroni elbows are forever stuck<br>but i like it that way
</div>
<div class="poetry">
    <h1>messy encounter</h1>
    the silpat slip slaps<br>chocolate chip cookies tumble on to the chicory counter<br>you scramble for the crisp cracked crumbles that fly forward<br>they're already long gone.<br>
    <br>
    the mess carelessly caresses your world at present<br>tucked beneath your left cornea or behind the flap of your right ear<br>perched on the pantry shelf, married to the marble floor—<br>you've jinxed this jittering jigsaw puzzle!
</div>
<div class="poetry">
    <h1>flying orange</h1>
    it was cold and sunny<br>cold like shaved ice<br>sunny like the carnival it came from.<br>
    <br>
    you flung an orange at the afternoon sun<br>it flung itself back at you<br>bouncing off the window on the third floor.<br>the people on which approached<br>their window and looked<br>down at us<br>wreaking muted havoc on the pavement<br>just two lackadaisical teenagers<br>good-for-nothing<br>they should be in the classroom.<br>
    <br>
    but who cares?<br>in that moment<br>your laughter was so beautiful<br>the world paled in comparison.
</div>
<div class="poetry">
    <h1>sillies are for today</h1>
    worries are for tomorrow<br>so why are you worrying already?<br>you've got it all mixed up<br>today is for running wild in the sunflower fields<br>we're racing the clock<br>chasing the now<br>and i'm out of breath!<br>so let's just be silly willy today
</div>
<div class="poetry">
    <h1>yard sale</h1>
    i am once more lying prostrate on your doorstep.<br>
    <br>
    so we meet again<br>me, beaten as i am and even dustier than you remember<br>you, embarrassed— a thing of your past<br>turning your nose up at my desperation<br>you hastily shut the door. (i expected nothing more)<br>
    <br>
    you have rejected me<br>nine hundred, ninety-nine thousand<br>nine hundred, ninety-nine times<br>and i have broken myself over my<br>broken heart<br>just as many (999,999)<br>
    <br>
    yet if you came back <br>even the one millionth time<br>even empty-handed<br>i would gladly hold you<br>in my empty, dusty embrace.<br>
</div>
<div class="poetry">
    <h1>note to self</h1>
    don’t worry about<br>writing a bad poem. write<br>a good one later
</div>
<div class="poetry">
    <h1>on the arduous voyage of embroidery</h1>
    light that comes to a point upon<br>the silver needle<br>tip to ceiling<br>
    <br>
    he who makes a nosedive into<br>the folds of fabric<br>which billow with the immortality of waves at sea<br>
    <br>
    the valiant needle who pricks<br>carefully breaching the white picket fence<br>passing through the gates with a curtsy of courtesy<br>
    <br>
    in and out<br>the needle weaves headfirst<br>and the tip of the iceberg extends to become a sleek rocket<br>
    <br>
    as he turns to revisit his trail thus far<br>he who moves from point a to point b knows<br>the beauty is in the journey<br>in the art that lay behind him,<br>stretching for miles and miles and miles.<br>
</div>
<div class="poetry">
    <h1>the pity party</h1>
    the pity party<br>is a party for one.<br>the sweet punch bowl holds my sour tears<br>the crumbs of my used tissues—scrunched up like roses—<br>populate the cookie plate.<br>
    <br>
    at the pity party<br>the banner is lopsided<br>the music is slow<br>and the strobe light peruses like<br>a hovering therapist<br>
    <br>
    i have not invited anyone to the pity party<br>because from the outside<br>it seems a regular party and<br>no one needs to know about<br>the pity part of the party.<br>
</div>
<div class="poetry">
    <h1>like paper</h1>
    everything is fine until it isn’t<br>the external pressure that she can’t handle is visible from the<br>way her shoulder blades cave<br>
    <br>
    she crumples like paper<br>the one million pieces of her fragile, ripped soul are visible from the<br>sheen gathering in her eyes that she tries to hide<br>
    <br>
    when you’re not looking<br>she wipes tears with the dog-eared corner of her wrinkly shirt<br>she gasps for air<br>
    <br>
    the tears feed her sadness<br>fattening the misery<br>replenishing her tormenter<br>
    <br>
    her shining qualities are deeply entrenched now<br>buried in the grooves of the soggy paper ball she’s collapsed into<br>to protect the scraps that remain light.<br>
    <br>
    with gentle hands,<br>you hold her caving shoulder blades,<br>you pick up the one million pieces of her fragile, ripped soul<br>you embrace the wrinkles and the ridges<br>you wipe away the bleeding words<br>
    <br>
    it doesn’t have to be this way, you say<br>being happy isn’t about<br>not being sad<br>they can coexist, you know?<br>
</div>
<div class="poetry">
    <h1>an infamous tune</h1>
    in a cozy cup of cocoa<br>notes flow like lava, warming the soul<br>accompaniment seeps to the heart<br>unnoticed by all but a fuzzy nook of the conscience<br>melodies twinkle, sparkling at the throat’s edge.<br>
    <br>
    after the merciless icy wind sweeps my mood,<br>casts it aside and leaves it trembling,<br>i stumble<br>home and collapse at the dinner table, shakily bringing to my lips<br>
    <br>
    a cozy cup of cocoa<br>the harmony envelops me in a long hug<br>smoothes the jittering nerves in my wind-whipped hand<br>erases the gray<br>the storm of society seems harmless from a distance.<br>
    <br>
    the snug embrace seems to note<br>constant conflict highlights divine resolution.<br>the exquisite rainbow waits beyond the rainstorm;<br>the lullaby eagerly awaits to sing me to sleep.<br>
</div>