nav {
  display: flex;
  font-family: Manrope;
  font-style: normal;
  border-bottom: 2px solid #6F4926;
  justify-content: flex-end;
  padding-right: 60px;
  a {
    text-decoration: none;
    color: #6F4926;
    margin: 40px 15px;
  }
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
}
.current {
    text-decoration: underline;
}
#home {
  display: flex;
  align-items: center;
  max-width: 60em;
  margin: auto;
  flex: 1 0 auto;
  padding: 1em;
}
#text {
  color: #6F4926;
  flex: 1.7 0 0;
  padding-right: 40px;
  font-family: Manrope;
  font-style: normal;
  font-size: 1.2em;
  h1{
    font-size: 3.25rem;
    font-family: Playfair Display;
    font-style: normal;
    margin: 0 0 0.2em 0
  }
}
#image {
  flex: 1 0 0;
  img {
    width: 100%;
  }
}
#home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}