nav {
  display: flex;
  font-family: Manrope;
  font-style: normal;
  border-bottom: 2px solid #6F4926;
  justify-content: flex-end;
  padding-right: 60px;
  a {
    text-decoration: none;
    color: #6F4926;
    margin: 40px 15px;
  }
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}
.current {
    text-decoration: underline;
}
#home {
  display: flex;
  align-items: center;
  max-width: 60em;
  margin: auto;
  flex: 1 0 auto;
  padding: 1em;
}
#text {
  color: #6F4926;
  flex: 1.7 0 0;
  padding-right: 40px;
  font-family: Manrope;
  font-style: normal;
  font-size: 1.2em;
  h1{
    font-size: 3.25rem;
    font-family: Playfair Display;
    font-style: normal;
    margin: 0 0 0.2em 0
  }

  h1 + p {
    margin-top: 0;
  }
}
#image {
  flex: 1 0 0;
  img {
    width: 100%;
  }
}
#home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#icons {
  img {
    width: 2.2em;
    margin-right: 0.5em;
  }
  a:last-child > img {
    margin-right: 0;
  }
}
.post{
  font-family: Manrope;
  font-style: normal;
  color: #6F4926;
  h2{
    a{
      text-decoration: none;
      font-family: Playfair Display;
      font-style: normal;
      color: #6F4926;
      font-size: 1.2em;
    }
    margin-bottom: 0.2em;
  }
  .date{
    font-style: italic;
    margin: 0;
  }
  .excerpt p:first-child {
    margin-top: 0.25em;
  }
}
#content {
  max-width: 60em;
  margin: auto;
  padding: 1em;
}
#kevin {
  font-size: 3.2rem;
  font-family: Playfair Display;
  font-style: normal;
  color: #6F4926;
  margin-bottom: 0.3em;
}
#tags {
  font-family: Manrope;
  font-style: normal;
  font-size: 0.8em;
  color: #6F4926;
  margin: 0;
  .filter{
    margin-right: 0.3em;
    border: 1px solid #6F4926;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0.2em 0.4em;
    cursor: pointer;
    &:last-child {
    margin-right: 0;
    }
    &.selected {
      background-color:#6F4926;
      color: antiquewhite;
    }
  }
}
#posttitle {
  font-size: 3.2rem;
  font-family: Playfair Display;
  font-style: normal;
  color: #6F4926;
  margin-bottom: 0.2em;
}

.post.full .date {
  margin-bottom: 2em;
}